@model ASPWebb.Models.Product

@{
    ViewData["Title"] = "Details";
}


<h1 class="d-flex justify-content-center">Details</h1>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">

        <div class="col-lg-6 container">
            <div class="card h-100">
                <div class="card-body">
                    <img src="@Html.DisplayFor(model => model.ImageUrl)" class="card-img-top" alt="75\">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                    <p class="card-text">
                        <b></b> <br>@Html.DisplayFor(model => model.Description)
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-danger price pt-3">@Html.DisplayFor(model => model.Price):-</p>
                        <button class="btn btn-outline-secondary">
                            Beställ
                            <i class="fas fa-shopping-cart me-2"></i>
                        </button>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted mb-3"><i class="fas fa-box text-success my-2">&nbsp;&nbsp;&nbsp;Lagerstatus</i></small>
                </div>
            </div>
        </div>
    </div>
</div>



 
<div style="margin-top: 2rem;">

    <a class="d-flex justify-content-center col-lg-6 container btn btn-dark" role="button" aria-pressed="true" asp-controller="Products" asp-action="Index">Back to List</a>
</div>
